@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,html{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

html{
    background-color: black;
    color: blanchedalmond;
    font-size: 14px;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left-mbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.mbuttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

button{
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 16px;
}

.right-mbody{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container-box{
    width : 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.gRow{
    flex : 1;
    display: flex;
    flex-direction: row;
}
.gCell{
    background-color:white;
    border-style:solid;
    border-width: 1px;
    border-color: gray; 
    padding: 0px;
}

.mfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}